$align: left;
$bg-color: #fff;
$color-01: #005151;
$color-02: #FAE6E0;
$color-03: #f8d1c5;
$color-04: #222;
$color-default: #444;
$font-big: 3rem; 
$font-family-default: 'Inter', sans-serif;
$font-medium: 2.2rem;
$font-normal: 2.0rem;
$font-small: 1.2rem;
$mb: 1.5rem;
$mt: 1.5rem;
$mt-02: 3rem;
$space-default: 1.5rem;
$tablet: 999px;